body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.what_accordion.MuiAccordion-root {
  border: none;
  box-shadow: none;
}
.what_accordion.MuiAccordion-root:before {
  display: none;
  border: none;
  box-shadow: none;
}
.what_accordion.MuiAccordion-root .MuiAccordionSummary-root {
  border: none;
  box-shadow: none;
}
